<li>
    {{movie_title}}
  
    <button class="guest_like" data-id="{{id}}">
        like
    </button>

<button class="guest_dislike" data-id="{{id}}">
        Dislike
    </button>

</li>

